<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            prefix:'tw-',
            preflight: false
        }
    </script>
    <title>
        {% block  title %}
            Django Project
        {% endblock %}
        
    </title>
</head>
<body>
    <nav> 
        {%if user.is_authenticated%}
            <a href="/" title = "Home">🏠
                <span>Home</span>
            </a> | 
            <a href="/weather" title="Weather" >☁️
                <span>Weather</span>
            </a> | 
            <a href="/blog" title="Blogs">📝
                <span>Blogs</span>
            </a> | 
            <a href="{% url "blog:postNew" %}" title="Create New Post">🆕
                <span>Create New Post</span>
            </a> |
            <form class="logout" action={% url "users:logout" %} method="post">
                {% csrf_token %}
                <button class="logout-button" type="submit" title="Logout">👋</button>
                <span>Logout</span>
            </form>
        {% else %}
            <a href="/" title = "Home">🏠
                <span>Home</span>
            </a> | 
            <a href="/about" title="Contact Us" >☎️
                <span>Contact Us</span>
            </a> |
            <a href="/weather" title="Weather" >☁️
                <span>Weather</span>
            </a> | 
            <a href="/blog" title="Blogs">📝
                <span>Blogs</span>
            </a> | 
            <a href="/users/register/" title="Sign Up">👤
                <span>Sign Up</span>
            </a> | 
            <a href="/users/login/" title="Login">🔐
                <span>Login</span>
            </a> 
        {% endif %}
    </nav>
    <main>
        {%block content%}
        {%endblock %}

    </main>
</body>
</html>